<section style="height: 50vh; background-color: #aadfd0;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-self-center justify-content-center">
        <div class="circle">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>

      <div class="col-md-6"></div>
    </div>
  </div>
</section>
<section class="dots" id="clients">
  <div class="container" style="height: 40vh;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="circle">
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="circle">
            <br /><br />
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="tips">
            <h2 style="color: #215e9f;">
              Get tips and tricks on how<br />
              to achieve your goals
            </h2>
            <h6 style="text-align: justify; font-size: 15px;">
              At Blockchain Research Lab, we look forward with the advancement
              in Blockchain Technology and it's recent changes. Since 2019,
              we've tried to provide a high quality service as we grow, our
              commitment to the needs remains the key driving force behind the
              establishment of our Lab.
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
