<section style="background: #e7f3fa 0% 0% no-repeat padding-box;">
  <div class="container p-5" style="height: 100%;">
    <div class="row mh-100" style="height: 100%;">
      <div class="col-md-6 d-flex align-self-center justify-content-center">
        <div style="text-align: center;">
          <span class="card"></span>
          <span class="card"></span>
          <span class="card"></span>
          <span class="card"></span>
          <span class="card"></span>
          <span class="card"></span>
        </div>
      </div>
      <div class="col-md-6 d-flex align-self-center justify-content-center">
        <div class="tips">
          <span style="color: black; display: block; font-size: small;">
            CLIENTS</span
          >
          <h2 style="color: #1788cb;">
            Get tips and tricks on how to achieve your goals
          </h2>
          <h6 style="text-align: justify; font-size: 15px;">
            At Blockchain Research Lab, we look forward with the advancement in
            Blockchain Technology and it's recent changes. Since 2019, we've
            tried to provide a high quality service as we grow, our commitment
            to the needs remains the key driving force behind the establishment
            of our Lab.
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>
