<div class="scroller">
  <img src="../../assets/Scroll@2x.png" width="45px" alt="" />
</div>
<!-- partition -->
<section class="dots" id="clients">
  <div class="container" style="height: 40vh;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="circle">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="circle">
            <br /><br />
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="tips">
            <br /><br /><br /><br />
            <h2 style="color: #215e9f;">
              Get tips and tricks on how<br />
              to achieve your goals
            </h2>
            <br />
            <h6 style="text-align: justify; font-size: 15px;">
              At Blockchain Research Lab, we look forward with the advancement
              in Blockchain Technology and it's recent changes. Since 2019,
              we've tried to provide a high quality service as we grow, our
              commitment to the needs remains the key driving force behind the
              establishment of our Lab.
            </h6>
          </div>
          <br /><br /><br /><br />
        </div>
      </div>
    </div>
  </div>
</section>

<br /><br /><br /><br />
