<nav class="bar">
  <span class="open-slide">
      <a href="#" class="menu" (click)="openSlider()">
          <svg width=30 height=30>
              <path d="M0,5 30,5" stroke=#838383 stroke-width="5"/>
              <path d="M0,14 30,14" stroke=#838383 stroke-width="5"/>
              <path d="M0,23 30,23" stroke=#838383  stroke-width="5"/>
          </svg>
      </a>
  </span>
  <ul class="bar-nav">
      <li><img src="../../assets/Group1.png" width="180px"alt=""></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact Us</a></li>
  </ul>
</nav>

<div id="side-menu" class="side-nav">
  <a href="#" class="btn-close" (click)="closeSlider()">&times;</a>
  <br><br><br>
  <a href="#">Home</a>
  <a href="#">Services</a>
  <a href="#">Portfolio</a>
  <a href="#">Team</a>
  <a href="#">Blog</a>
  <a href="#">Contact Us</a>
</div>
<div id="main">
  <div class="main-text">
    <p>Bringing in <br>
      transparency <br>into systems</p>
      <h1>Develop.Deploy.Distribute</h1>
  </div>

  <img src="../../assets/MaskGroup1@2x.png" width="690px" alt="">
</div>
<br>
<div class="scroller">
  <img src="../../assets/Scroll@2x.png" width="45px" alt="">
</div>
<!-- partition -->
<section class="dots" id="clients">
  <div class="container">

  <div class="container-fluid ">
      <div class="row">
          <div class="col-lg-6" >

            <div class="circle">
              <br><br><br>
              <span class="dot"></span> &nbsp; &nbsp;
              <span class="dot"></span> &nbsp; &nbsp;
              <span class="dot"></span>
            <br><br>
             <span class="dot"></span>  &nbsp; &nbsp;
             <span class="dot"></span>  &nbsp; &nbsp;
             <span class="dot"></span>

            </div>
          </div>

          <div class="col-lg-6">
            <div class="tips">

              <br><br><br><br>
              <h2 style="color: #215E9F; ">Get tips and tricks on how<br> to achieve your goals</h2>
              <br>
              <h6 style="text-align:justify; font-size: 15px">At Blockchain Research Lab, we look forward with the advancement in
                 Blockchain Technology and it's recent changes. Since 2019, we've tried to
                provide a high quality service as we grow, our commitment to the needs remains the
              key driving force behind the establishment of our Lab. </h6>
            </div><br><br><br><br>
          </div>

        </div>
      </div>

  </div>
  </section>

  <br><br><br><br>


     <!-- Blog -->



  <h2 style="color: #215E9F; text-align: center;"> Have a look at our latest blog </h2>

  <section class="blog" id="blog">
    <div class="container " >
        <div class="row ">

            <div class="col-lg-4" >
              <div class="image1">
              <img class="ethereum" src="../assets/image1.jpg">
              <br><br>
              <h6>May 28, 2020</h6>
              <h4 style="color: #215E9F; ">Ethereum: Developer's Guide</h4><br><br>
              </div>
            </div>

            <div class="col-lg-4" >
              <div class="image1">
              <img class="ethereum" src="../assets/image1.jpg">
              <br><br>
              <h6>May 17, 2020</h6>
              <h4 style="color: #215E9F; ">An Introduction to Docker</h4><br><br>
              </div>
            </div>

            <div class="col-lg-4" >
              <div class="image1">
              <img class="ethereum" src="../assets/image1.jpg">
              <br><br>
              <h6>May 11, 2020</h6>
              <h4 style="color: #215E9F; ">Getting Started with Node JS</h4><br><br>
              </div>
            </div>

             <div class="abc">
               <button class="but1">Read More &nbsp;&nbsp; > </button>
             </div>

        </div>
    </div>

    <br><br>
  </section>

    <!-- Founders -->


    <h2 style="color: #215E9F; text-align: center; "> The patriarchy of blithe and bonny soul helps to<br>
    achieve perfection assiduously in the endeavors. </h2>

    <section class="founders" id="founders">
      <div class="container " >
        <div class="row ">

          <div class="col-lg-4" >
            <div class="image2">
            <img class="image2" src="../assets/shak.jpg">
            <br><br>
            <h4 style="color: #215E9F; ">Shakti Jaiswal</h4>
            <h6 style="font-size: 15px;">GRAPHIC DESIGNER</h6><br><br>
            </div>
          </div>

          <div class="col-lg-4" >
            <div class="image2">
            <img class="image2" src="../assets/pra.jpg">
            <br><br>
            <h4 style="color: #215E9F; ">Prakhar Agarwal</h4>
            <h6 style="font-size: 15px;">APPLICATION DEVELOPER</h6><br><br>
            </div>
          </div>

          <div class="col-lg-4" >
            <div class="image2">
            <img class="image2" src="../assets/shu.jpg">
            <br><br>
            <h4 style="color: #215E9F; ">Shubh Singhal</h4>
            <h6 style="font-size: 15px;">WEB DEVELOPER</h6><br><br>
            </div>
          </div>

          <div class="abc">
            <button class="but1">Meet Our Team &nbsp;&nbsp; > </button>
          </div>

        </div>
      </div>
  <br><br><br>
    </section>


     <!-- Footer -->


     <section class="footer">
      <div class="container">
        <div class="row">



        </div>
       </div>
     </section>

