* {
  font-family: arial;
}
.nav-item a {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #000000;
  border-bottom: 3px solid white;
  margin: 10px;
  opacity: 0.6;
}

.nav-item a:hover {
  background-color: white;
  color: #1788cb;
  border-bottom: 3px solid #1788cb;
  transition: 0.2s;
}
