<h6>WHAT WE DO</h6>
<h2>We offer the diversity of skills</h2>
<br><br>
<div class="row">
  <div class="col-md-2">
    <img src="../../assets/HumaneBlockchain@2x.png" width="100"alt="">
    <h3>Humane Blockchain</h3>
    <p>Implementing smart contracts and integrating with the web and application we try to provide new soluttions.</p>
  </div>
  <div class="col-md-2">
    <img src="../../assets/WebDevelopment@2x.png" width="100" alt="">
    <h3>Web Development</h3>
    <p>Bridge the gap by working on both front end as well as backend and provide distinctive solutions to satisfy this need</p>
  </div>
  <div class="col-md-2">
    <img src="../../assets/AppDevelopment@2x.png" width="100" alt="">
    <h3>App Development</h3>
    <p>Work on different application development softwares like flutter, react native and NetBeans and provide the required solutions</p>
  </div>
  <div class="col-md-2">
    <img src="../../assets/UI-UX Design@2x.png" width="100" alt="">
    <h3>UI/UX Design</h3>
    <p>UI/UX designing and graphic designing so as to  provide an edge in web and application development</p>
  </div>
</div>
