p {
  font-weight: bold;
}
h1 {
  color: #1788bc;
}
img {
  padding-left: 20px;
}
.num {
  background-color: #1788bc;
  border-radius: 50%;
  justify-content: center;
  color: white;
  font-size: 40px;
  padding: 10px 30px 10px 30px;
  margin-right: 20px;
  margin-top: 15px;
}
.bod p {
  color: black;
  font-size: 15px;
  font-weight: 450;
}
