<div class="container"><p>STRATEGY</p>
<br>
<div class="row">
  <div class="left col-md-6">
    <h1 style="margin-bottom: 30px;">Get tips and tricks on how<br> to achieve your goals.</h1>
    <div class="row">
      <div class="num">
        1
      </div>
      <div class="bod">
        <h3 style="color: #1788bc">Develop</h3>
        <p>At Blockchain Research Lab, we look forward with the advancement in <br>Blockchain technology and it's recent changes.</p>
      </div>
    </div>
    <div class="row">
      <div class="num">
        2
      </div>
      <div class="bod">
        <h3 style="color: #1788bc">Deploy</h3>
        <p>At Blockchain Research Lab, we look forward with the advancement in<br> Blockchain technology and it's recent changes.</p>
      </div>
    </div>
    <div class="row">
      <div class="num">
        3
      </div>
      <div class="bod">
        <h3 style="color: #1788bc">Distribute</h3>
        <p>At Blockchain Research Lab, we look forward with the advancement in<br> Blockchain technology and it's recent changes.</p>
      </div>
    </div>
  </div>
  <div class="right col-md-6">
    <img src="../../assets/Strategy@2x.png" width="600">
  </div>
</div>
</div>
