<section>
  <div class="container">
    <div class="row" class="py-md-2">
      <div class="col-md-12">
        <span
          style="
            color: black;
            text-align: center;
            display: block;
            font-size: small;
          "
        >
          FOUNDERS</span
        >
      </div>
    </div>
    <div class="row py-md-2">
      <div class="col-md-12">
        <h2 style="color: #1788cb; text-align: center;">
          The Patriarchy Of Blithe And Bonny Soul Helps To Achieve Perfection
          Assiduously In The Endeavors.
        </h2>
      </div>
    </div>
    <div class="row my-md-5">
      <div class="col-md-4">
        <img
          class="card-img-top"
          src="../assets/shak.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title" style="color: #1788cb;">Shakti Jaiswal</h5>
          <p class="card-text">
            GRAPHIC DESIGNER
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <img
          class="card-img-top"
          src="../assets/pra.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title" style="color: #1788cb;">Prakhar Agarwal</h5>
          <p class="card-text">
            APPLICATION DEVELOPER
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <img
          class="card-img-top"
          src="../assets/shu.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title" style="color: #1788cb;">Shubh Singhal</h5>
          <p class="card-text">WEB DEVELOPER</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary p-2" style="background-color: #1788cb;">
          Meet Our Team >
        </button>
      </div>
    </div>
  </div>
</section>
