<!-- Founders -->

<h2 style="color: #215e9f; text-align: center;">
  The patriarchy of blithe and bonny soul helps to<br />
  achieve perfection assiduously in the endeavors.
</h2>

<section class="founders" id="founders">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="image2">
          <img class="image2" src="../assets/shak.jpg" />
          <br /><br />
          <h4 style="color: #215e9f;">Shakti Jaiswal</h4>
          <h6 style="font-size: 15px;">GRAPHIC DESIGNER</h6>
          <br /><br />
        </div>
      </div>

      <div class="col-lg-4">
        <div class="image2">
          <img class="image2" src="../assets/pra.jpg" />
          <br /><br />
          <h4 style="color: #215e9f;">Prakhar Agarwal</h4>
          <h6 style="font-size: 15px;">APPLICATION DEVELOPER</h6>
          <br /><br />
        </div>
      </div>

      <div class="col-lg-4">
        <div class="image2">
          <img class="image2" src="../assets/shu.jpg" />
          <br /><br />
          <h4 style="color: #215e9f;">Shubh Singhal</h4>
          <h6 style="font-size: 15px;">WEB DEVELOPER</h6>
          <br /><br />
        </div>
      </div>

      <div class="abc">
        <button class="btn btn-primary">Meet Our Team ></button>
      </div>
    </div>
  </div>
  <br /><br /><br />
</section>
