<h2 style="color: #215e9f; text-align: center;">
  Have a look at our latest blog
</h2>

<section class="blog" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="image1">
          <img class="ethereum" src="../assets/image1.jpg" />
          <br /><br />
          <h6>May 28, 2020</h6>
          <h4 style="color: #215e9f;">Ethereum: Developer's Guide</h4>
          <br /><br />
        </div>
      </div>

      <div class="col-lg-4">
        <div class="image1">
          <img class="ethereum" src="../assets/image1.jpg" />
          <br /><br />
          <h6>May 17, 2020</h6>
          <h4 style="color: #215e9f;">An Introduction to Docker</h4>
          <br /><br />
        </div>
      </div>

      <div class="col-lg-4">
        <div class="image1">
          <img class="ethereum" src="../assets/image1.jpg" />
          <br /><br />
          <h6>May 11, 2020</h6>
          <h4 style="color: #215e9f;">Getting Started with Node JS</h4>
          <br /><br />
        </div>
      </div>

      <div class="abc">
        <button class="btn btn-primary">Read More</button>
      </div>
    </div>
  </div>

  <br /><br />
</section>
