<section class="py-md-5" style="background: white 0% 0% no-repeat padding-box;">
  <div class="container">
    <div class="row" class="py-md-2">
      <div class="col-md-12 text-center">
        <h6>BLOG</h6>
      </div>
    </div>
    <div class="row py-md-2">
      <div class="col-md-12">
        <h2 style="color: #1788cb; text-align: center;">
          Have a Look At Our Latest Blog
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <blockquote class="embedly-card">
          <h4>
            <a
              href="https://medium.com/blockchain-research-lab-akgec/hyperledger-fabric-and-its-architecture-5ecf3440319"
              >Hyperledger Fabric And It's Architecture</a
            >
          </h4>
        </blockquote>
      </div>

      <div class="col-lg-4">
        <blockquote class="embedly-card">
          <h4>
            <a
              href="https://medium.com/blockchain-research-lab-akgec/ethereum-developers-guide-3c3b31e72dbd"
              >Ethereum: Developer's Guide</a
            >
          </h4>
        </blockquote>
      </div>

      <div class="col-lg-4">
        <blockquote class="embedly-card">
          <h4>
            <a
              href="https://medium.com/blockchain-research-lab-akgec/an-introduction-to-docker-709f8fd01767"
              >An introduction to Docker... 🐋</a
            >
          </h4>
        </blockquote>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a
          href="https://medium.com/blockchain-research-lab-akgec"
          target="_blank"
        >
          <button
            class="btn btn-primary p-2"
            style="background-color: #1788cb;"
          >
            Read More >
          </button></a
        >
      </div>
    </div>
  </div>
</section>
